body {
    background: #066acd;
}

.container {
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%)
}

#tasks {
    padding: 20px 20px;
}

.task {
    background-color: #CFD8DC;
    border-radius: 5px;
    padding: 4px 16px;
    margin-top: 10px;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#newtask {
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

#title {
    width: calc(100% - 120px);
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
}

#title:focus {
    outline: none;
}

.button {
    color: white;
    font-weight: bold;
    border: none;
    background-color: dodgerblue;
    padding: 2px 6px;
    border-radius: 4px;
    margin: 0px 4px;
    border: 2px solid grey;
}

.button:hover {
    border-color: black;
}

#addButton:active {
    border: 2px solid black;
/*    padding: 2px 6px;*/
    background-color: midnightblue;
}

.delete {
    background-color: orangered;
}

.delete:active {
    background-color: darkred;
}

.update {
    background-color: yellow;
    color: black;
}

.update:active {
    background-color: orange;
}

.checkbox {
    transform: scale(1.4);
}