body {
    background: #066acd;
}

.container {
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%)
}

#tasks {
    padding: 20px 20px;
}

.task {
    background-color: #CFD8DC;
    border-radius: 5px;
    padding: 4px 16px;
    margin-top: 10px;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#newtask {
    margin: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

#title {
    width: calc(100% - 114px);
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
}

#title:focus {
    outline: none;
}